<div class="card" ></div>
    <form (ngSubmit) = "AddProduct()">
        <h1>{{title}}</h1>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>Product Id</label></td>
                            <td><input type="text" name="p_id" [(ngModel)]="productItem.productId"></td>
                        </tr>
                        <tr>
                            <td><label>Product Name</label></td>
                            <td><input type="text" name="p_name" [(ngModel)]="productItem.productName"></td>
                        </tr>
                        <tr>
                            <td><label>Product Code</label></td>
                            <td><input type="text" name="p_code" [(ngModel)]="productItem.productCode"></td>
                        </tr>
                        <tr>
                            <td><label>Product Quantity</label></td>
                            <td><input type="text" name="p_quantity" [(ngModel)]="productItem.productQuantity"></td>
                        </tr>
                        <tr>
                            <td><label>Product Price</label></td>
                            <td><input type="text" name="p_price" [(ngModel)]="productItem.price"></td>
                        </tr>
                        <tr>
                            <td><label>Product Star Rating</label></td>
                            <td><input type="text" name="p_rating" [(ngModel)]="productItem.starRating"></td>
                        </tr>
                        <tr>
                            <td><label>Product imageUrl</label></td>
                            <td><input type="text" name="p_image" [(ngModel)]="productItem.imageUrl"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="submit"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>